.conoveylogo {
    padding-right: 50px;
    padding-bottom: 30px;
}

.sikhlogo {
    padding-bottom: 30px;
}

.matman {
    padding-top: 20px;
    padding-bottom: 30px;
}

.starmill {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}